/* add css styles here (optional) */

.isotope-container {
  position: relative;
}
.card {
  position: absolute;
  background-color: gray;
  border-width: 3px;
  border-style: solid black;
}

.test {
  background-color: blue;
}

.test1 {
  background-color: red;
}
